.about-section {
  background-color: #fcfaed;
}

h1,
h2 {
  color: #0f2b60;
}
.aboutHead p {
  font-size: large;
  margin-top: 20px;
}

.aboutBody {
  display: flex;
  padding: 40px 60px;
}
.aboutBody-left {
  width: 100%;
}
.aboutBody-left p {
  margin-right: 40px;
  margin-top: 20px;
  font-size: large;
}
.about-img {
  max-width: 100%;
  height: auto;
}

.team-section {
  text-align: center;
}
.section-header h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 3px;
  background: #0d42ff;
  left: 0;
  right: 0;
  margin: 5px auto;
}
.team {
  display: flex;
  padding: 40px 60px;
  gap: 20px;
}

