.member {
    /* width: 33%; */
    text-align: center;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid rgba(14, 29, 52, 0.15);
  }
  .member img {
    max-width: 100%;
  }
  .team .member .member-content {
    padding: 0 20px 30px 20px;
  }
  .team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
  }
  .team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #6c757d;
  }
  .team .member p {
    padding-top: 10px;
    font-size: 14px;
    font-style: italic;
    color: #6c757d;
  }
  