nav{
    background-color: #282c34;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.shop-name{
    padding: 0px !important;
    margin: 0px !important;
    font-size:24px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    text-decoration: none;

}
.navbar-left {
    display: flex;
    align-items: center;
  }

  .navbar-right {
    display: flex;
    gap: 50px;
  }

  .navbar-right a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  .navbar-right a:hover {
    color: orange;
  }

  nav .active{
    color: orange;
  }

.mobile-navbar-right{
  display: none;
}
.menu-list-show,.menu-list-hidden{
  display: none;
}

  /**For mobile menu **/
  @media (max-width: 768px) {
    .navbar-right{
      display: none !important;
    }
    .mobile-navbar-right {
      display: block;
    }
    .menu-button{
      cursor: pointer;
      background-color: #282c34;
      border: none;
    }
    .close-button-icon,.menu-button-icon{
      width: 1.25rem;
      height: 1.25rem;
      color: #fff;
    }
    .menu-list-show{
      position: absolute;
    top: 70px;
    background-color: #282c34;
    width: 100%;
    right: 0;
    display: flex;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    }
    .menu-list-show a {
      color: #f2f2f2;
      text-decoration: none;
      font-size: 17px;
      margin-left: 1rem;
      
    }
    .menu-list-show a:hover {
      color: orange;
    }
    
    
  }
  
