.product-section {
    background-color: #fcfaed;
  }
  .product-head {
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
  }

  .product-list{
    display: flex;
    flex-direction: column;
    gap: 4;
    margin: 0px 60px;
    padding: 30px 20px;

  }