.faq-head {
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
  }
  .product-head {
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
  }

  .about-head {
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
  }